* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: linear-gradient(
    45deg,
    #e7bbab,
    #d5f7b7,
    #b2ecdc,
    #acc4ee,
    #f3b6e2
  );
  /* background-color: lightcyan; */
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSmhZPLlBFlJkd3pxwwK5OiVkKwYrAgEzZwg&usqp=CAU); */
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: honeydew; */
}

.container-1 > div {
  margin: 10px;
  padding: 30px;
}

p {
  padding-top: 15px;
  padding-left: 20px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-2 p {
  padding-left: 30px;
  width: 250px;
  line-height: 150%;
}

nav > button {
  background-color: rgb(91, 216, 116);
  padding: 10px 30px 10px 30px;
  border-radius: 20%;
  border: none;
}

nav > button:hover {
  background-color: rgb(139, 221, 155);
  border-color: lightgreen;
}

button {
  margin-top: 10px;
}

a {
  text-decoration: none;
  padding: 4px;
  border: none;
  border-radius: 20%;
  font-family: cursive;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

.title {
  font-family: "Courier New", monospace;
  text-shadow: 2px 2px 5px #c05b63;
}

.source-links {
  padding: 10px;
  line-height: 150%;
}

.source-links h3 {
  font-family: fantasy;
}
